@charset "UTF-8";


/* サイトの全体　*/

.maincolumn {
	width:100%;
	height:100%;
	/* background-color: pink; */
}

/* ヘッダーのアイコンなど　*/

.header-1 {
	width:100%;
	height:30px;
	padding-bottom: 50px;
	/* background-color: orange; */
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
}

/* 画像のCSS　*/

.n-1 {
	position: absolute;
	top:10px;
	margin-left: 40px;
	/* background-color: blue; */

}


.n-2 {
	position: absolute;
	top:0px;
	right:190px ;
	/* background-color: blue; */

}

p:hover.n-2 {
	opacity:0.5;
}

.n-3 {
	position: absolute;
	top:0px;
	right:120px ;
	/* background-color: blue; */

}

p:hover.n-3 {
	opacity:0.5;
}


.n-4 {
	position: absolute;
	top:-8px;
	right:7px ;
	/* background-color: blue; */

}

/* パンくずリストのブロック　*/

.header-2 {
	width:100%;
	margin-top:130px;
	margin-bottom: 30px;
	height:15px;
	/* background-color: blue; */
}

.breadcrumbs {
	padding-left:70px;
	margin-left:0;
}

.breadcrumbs li {
	display:inline; /*横並び*/
	list-style: none;
}

.breadcrumbs li:after{
	content: '>';
	padding: 0 3px;
	color: black;
}

.breadcrumbs li:last-child:after{
	content: '';
}

.breadcrumbs li a {
	text-decoration: none;
	color: #c0c0c0;
	font-size: 12px;
}

.breadcrumbs li a:hover {
	text-decoration: underline;
}

p.n-5 img {
	width:100%;
}

/* shareボタンのCSS　*/

.share-botton {
	padding-left:750px;
	/* background-color: blue; */
}


.sns-share li {
	display: inline-flex;
	list-style: none;
	margin-left: 15px;
}


/* 見出し(h2)のCSS　*/

h2 {
	font-size: 18px;
	color: black;
	vertical-align: top;
}


h2:before {
	content: url(./kadai-1/n-10.png) /* 見出しの冒頭に画像　*/
}

/* 下線を削除　*/
a:-webkit-any-link {
    /*color: -webkit-link;*/
    /*cursor: pointer;*/
    text-decoration: none;
}


/* 下線を削除　*/


.digital_business_strategy {
	/* background: orange; */
	font-size: 12px;
	padding-left: 240px;
}

p.digital_business_strategy {
	margin-bottom: 2px;
}

.font-style {
	font-size: 14px;
	color:black;
}

.n-11 {
	text-align: center;
	/* background-color: blue; */
	max-width: 100%;
	height: auto;
}


.n-12 {
	text-align: center;
	/* background-color: blue; */
	max-width: 100%;
	height: auto;
}

/* PDFのリンク　*/

.pdf_document {
	text-align: center;
	width: 200px;
    padding: 0.5em 1em;
    margin: 10px auto;
    color: #ffff;
    /* background: #0000ff; */
    font-size: 12px;
}


.pdf_document p {
    margin: 0; 
    padding: 0;
}

/*　DXの取組み事例　*/

.case {
	/* background: orange; */
	padding-left: 190px;
}


.caselist_box {
	width: 900px;
	margin:auto;
	padding-left: 100px;
	display: flex;
	flex-wrap: wrap;
	/* background: blue; */

}

/*　並列させたブロックのCSS　*/

.future {
	width: 200px;
	font-size: 13px;
	/* background: orange; */
}

/*　ブロックにあるタグ枠線　*/

.tag {
    margin: 3px 3px;
    width: auto;
    padding: 1px 5px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    float: left;
 	text-decoration: none;
    /* background: #FFF; */
    border: solid 1px #c0c0c0;
    border-radius: 10px;
}


.tag p {
    margin: 0; 
    padding: 0;
}


.day {
	font-size: 12px;
    padding-top: 40px;
    color: #c0c0c0;
    text-decoration: none
}


/*　両端リンク　*/

.pagelink {
	width:800px;
	/* background-color: red; */
	margin: 0 auto;
	padding-top: 150px;
	padding-bottom: 100px;
}

/*　両端リンクの左側　*/

.link-left {
	float:left;
}


.link-left a {
	text-decoration: none;
	color:#3366FF;
}


.link-left:before {
	content: '<';
	padding: 0 3px;
	color: black;
}


/*　両端リンクの右側　*/

.link-right {
	text-align: right;
}



.link-right a {
	text-decoration: none;
	color:#3366FF;
}


.link-right:after {
	content: '>';
	padding: 0 3px;
	color: black;
}

/*　企業情報の全体ブロック　*/

.enterprise-information {
	width: 1000px;
	margin: 0 auto;
	padding-top: 150px;
}

/*　一番上の太線　*/

.solid-1 {
	border-bottom: 2.2px solid;
	color: black;
}

/*　企業情報の見出し　*/

.enterprise_i {
	font-style: bold;
	font-size: 20px;
	color: black;
	padding-bottom: 5px
}

/*　破線　*/

.solid-2 {
	border-bottom: 1px dotted;
	color: black;
	padding-bottom: 5px;
}

/*　h3風の見出し　*/


.management-policy {
	font-size: 14px;
	color: black;
}

/*　画像リンク集　*/

.mp-block {
	width: 1050px;
	margin:auto;
	padding-right: 100px;
	display: flex;
	flex-wrap: wrap;
	/* background: blue; */
}



.mp-links {
	width:30px;
	font-size: 12px;
	color:#3366FF;
	padding-right: 220px;
	padding-bottom: 20px;
	/* background: red; */
	white-space: nowrap;
}


.font-style-1 {
	font-size: 12px;
	color:black;
}



.mp-links:before {
	content: '>';
	padding: 0 7px;
	color: #c0c0c0;
}


/*　前のページに戻る　*/

.return {
	font-size: 16px;
	padding-top: 40px;
	padding-bottom: 60px;
	color:#3366FF;
}



.return:before {
	content: '<';
	padding: 0 3px;
	color: #c0c0c0;
}


/*　太線　*/

.solid-3 {
	width: 100%;
	border-bottom: 2px solid;
	color: gray;
	padding-bottom: 20px;
}

/*　フッターのシェアボタン　*/

.footer-share-b {
	text-align: center;
	/* background-color: red; */
}


.f-share li {
	display: inline-flex;
	list-style: none;
	font-style: bold;
	font-size: 22px;
	margin-left: 15px;
}

/*　フッターのリンク集 (IRなど)　*/

.footer-links {
	width: 1000px;
	margin:auto;
	padding-right: 50px;
	display: flex;
	flex-wrap: wrap;
	background: blue;
}


/*　フッターリンクのブロック　*/


.footer-l-block {
	width:25%;
	margin: auto;
}


/*　フッターリンクのタイトル部分　*/

.footer-title {
	border-top: solid 1px #c0c0c0;
	border-bottom: solid 1px #c0c0c0;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color:black;
}


.footer-title:before {
	content: '>';
	padding: 0 10px;
	color: #c0c0c0;
}


.footer-li {
	list-style: none;
	font-size: 12px;
	color:#c0c0c0;
}

.footer-li li {
	list-style: none;
	font-size: 12px;
	color:#c0c0c0;
	padding-bottom: 10px;
}


.footer-li li:before {
	content: '>';
	padding: 0 10px;
	color: #c0c0c0;
}



/* ul liの余白初期設定を消去 */

ul, menu, dir {
    
    padding-inline-start: 0px;
}

ß

/* CSSの初期値をリセット */

/*
* {
	padding: 0;
	margin: 0;
}
*/




